.sidebar-container {
  width: 250px;
  height: 100vh;
  background-color: #b5a0ce;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
.logo-design1 {
  width: 90px;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.link-container {
  display: flex;
  align-items: center;
  width: 100%;
}
.nav-link {
  text-decoration: none;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #605e62;
  width: 80%;
  margin: 10px;
  background-color: transparent;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-family: 'Roboto';
}
.nav-link:hover {
  background-color: #e0e0e0;
}
.active-link {
  background-color: #f5f5f5;
  color: black;
}
.link-image {
  padding-right: 20px;
  width: 25px;
  height: 25px;
}
.profile {
  display: flex;
  margin-top: 80px;
  flex-direction: column;
  width: 80%;
  height: 150px;
  background-color: #d2c8e3;
  border-radius: 10px;
  box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
}
.profile-image {
  width: 60px;
  height: 60px;
  margin-left: 20px;
  margin-top: 10px;
}
.profile-head {
  margin-left: 20px;
  font-size: 15px;
  color: #ffffff;
  margin-top: 5px;
}
.profile-para {
  margin-left: 20px;
  font-size: 15px;
  color: #ffffff;
  margin-top: 0px;
}
